body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0f7fa;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: 20px 0;
}

form {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Añade espacio entre el campo de entrada y el botón */
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0288d1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        background-color: #0277bd;
    }

#weatherResult, #forecastResult {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

    #forecastResult div {
        background-color: #f0f0f0;
        margin: 10px 0;
        padding: 10px;
        border-radius: 4px;
    }

h2 {
    margin-top: 0;
}

@media (max-width: 600px) {
    form {
        flex-direction: column;
        gap: 10px;
    }

    input[type="text"], button {
        width: 100%;
        margin: 5px 0;
    }

    #weatherResult, #forecastResult {
        width: 100%;
    }
}
